{{ define "title" }}
    CoopCycle - {{ .Title }}
{{ end }}

{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-md-6 ml-md-auto mr-md-auto">
      <div class="text-center">{{ .Content }}</div>
    </div>
  </div>
</div>
<div class="press-container container">
  {{ range $.Site.Data.press }}
  <div class="press-item row justify-content-start">
    <div class="press-item-image col-2">
      <img src="{{ .img }}">
    </div>
    <div class="press-item-text col-10">
        <a href="{{ .link }}" target="_blank">
          {{ .title }}
          <br>
          <small>{{ dateFormat "02/01/2006" .date }}</small>
        </a>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}