{{ define "styles" }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
{{ end }}
{{ define "main" }}
    {{ $countries := slice }}
    {{ range $.Site.Data.coops }}
      {{ if isset . "coopcycle_url" }}
        {{ $countries = $countries | append .country }}
      {{ end }}
    {{ end }}
    {{ $countries = $countries | uniq }}

    <div class="container">
        <p>
        {{ i18n "search.subtitle" }}
        </p>
        <ul class="nav nav-pills mb-2" id="countries">
        {{ range $countries }}
            <li class="nav-item">
                <a class="nav-link {{ if eq . "fr" }}active{{ end }}" href="#" data-country="{{ . }}">{{ i18n . }}</a>
            </li>
        {{ end }}
        </ul>
    </div>
    <div id="coops-map"></div>
{{ end }}

{{ define "scripts" }}
{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
    <script type="application/javascript" src="{{ .Site.BaseURL }}js/order.js"></script>
{{ else }}
    <script type="application/javascript" src="/{{ index $.Site.Data.manifest "order.js" }}"></script>
{{ end }}
{{ end }}

