$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$headings-font-family: "Raleway", Helvetica, Arial, sans-serif;

// override some bootstrap colors
$link-color: #0366d6;
$blue:    #23527c;
