{{ define "main" }}

<section id="pattern">
  <div class="homepage-description">
    <div class="text-center">
    {{ i18n "headline" | safeHTML }}
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="homepage-card">
          <div class="text-center">
            <img width="80" src="{{ .Site.BaseURL }}/svg/network.svg">
          </div>
          <h2 class="text-center">{{ i18n "ecosystem.title" }}</h2>
          <p class="text-justify">
          {{ i18n "ecosystem.content" | safeHTML }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="homepage-card">
          <div class="text-center">
            <img width="80" src="{{ .Site.BaseURL }}/svg/crowd.svg">
          </div>
          <h2 class="text-center">{{ i18n "digital_common.title" }}</h2>
          <p class="text-justify">
          {{ i18n "digital_common.content" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="tracking-demo">
  <div class="container">
    <div>
      {{ i18n "about_bots" | safeHTML }}
    </div>
    <div id="map-wrapper">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//demo.coopcycle.org/tracking?zoom=13"></iframe>
      </div>
    </div>
  </div>
</section>
<section id="contribute">
  <div class="container">
    <p class="text-center">
    {{ i18n "contributing" | safeHTML }}
    </p>
  </div>
</section>
{{ end }}