{{ define "main" }}

<section>
  <img class="homepage-banner no-mobile" src="{{ .Site.BaseURL }}/images/homepage-banner.jpg">
  <img class="homepage-banner no-desktop" src="{{ .Site.BaseURL }}/images/homepage-banner-mobile.jpg">
  <div class="homepage-banner--headline text-center">
      <h2 class="h2">{{ i18n "headline" | safeHTML }}</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p>
            {{ i18n "ecosystem.content" | safeHTML }}
          </p>
          <div class="text-center">
            <a href="{{ ref . (printf "%s%s%s" "federation." .Lang ".md") }}" class="btn">{{ i18n "discover" | safeHTML }}</a>
          </div>
        </div>
  </div>
</section>

{{ $cities := slice }}
{{ range $.Site.Data.coops }}
  {{ if isset . "coopcycle_url" }}{{ $cities = $cities | append .city }}{{ end }}
{{ end }}

{{ $cities = $cities | sort }}
{{ $citiesAsString := delimit $cities ", " }}

<div class="my-4">
  <div class="container">
    <div class="card bg-light">
      <div class="card-body">
        <h4 class="h4 text-center text-info"><i class="fa fa-cutlery"></i>  {{ i18n "search.title" }}</h4>
        <p class="card-text text-center">{{ i18n "search.subtitle" (dict "Cities" $citiesAsString) }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <input id="search" class="form-control">
          <div id="spinner" class="spinner-border ml-2 d-none" role="status" aria-hidden="true"></div>
        </div>
      </div>
      <div class="list-group list-group-flush" id="search-results">
        <!--
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        -->
      </div>
    </div>
  </div>
</div>

{{ partial "join-network.html" . }}

<section id="software">
  <h4 class="h4 text-center">{{ i18n "digital_common.title" }}</h4>
  <div class="container homepage-card-container">
    <div class="row align-items-center">
      <div class="col-md-6 text-stack">
        <p>
          {{ i18n "digital_common.content" | safeHTML }}
        </p>
      </div>
      <div class="col-md-6 text-center">
        <a href="{{ ref . (printf "%s%s%s" "software." .Lang ".md") }}" class="btn">{{ i18n "discover.software" | safeHTML }}</a>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <h4 class="h4 text-center">{{ i18n "association.title" }}</h4>
  <div class="container homepage-card-container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p>
          {{ i18n "association.content" | safeHTML }}
        </p>
        <div class="text-center">
          <a target="_blank" href="mailto:contact@coopcycle.org" class="btn margin-bottom-md ">{{ i18n "association.join" | safeHTML }}</a>
        </div>
        <p>
          {{ i18n "association.donate" | safeHTML }}
        </p>
      </div>
      <div class="col-md-6" id="photo-asso">
      </div>
    </div>
  </div>
</section>

<section id="subscribe">
  <div class="homepage-subscribe-wrapper">
    <iframe
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="{{ index $.Site.Data.newsletter .Lang }}"
            width="100%"
            height="100%"
            margin="auto"
    ></iframe>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
  <script src="{{ .Site.BaseURL }}js/homepage.js" type="application/javascript"></script>
{{ else }}
  <script src="/{{ index $.Site.Data.manifest "homepage.js" }}" type="application/javascript"></script>
{{ end }}
<script src="https://maps.googleapis.com/maps/api/js?key={{ getenv "GOOGLE_API_KEY" }}&libraries=places&callback=initMap" async defer></script>
{{ end }}
