{{ define "main" }}

<section id="pattern">
  <div class="container">
    <section class="row">
      <div class="col-md-6 offset-md-3">
        <div class="homepage-description">
          <p class="text-center">
          <strong>CoopCycle</strong> est une plateforme de livraison de repas à vélo <strong>open-source</strong>, <strong>gratuite pour les coopératives</strong>. <br> Organisez-vous, nous fournissons la technologie.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="homepage-card">
          <div class="text-center">
            <img width="80" src="{{ .Site.BaseURL }}/svg/network.svg">
          </div>
          <h2 class="text-center">{{ i18n "ecosystem.title" }}</h2>
          <p class="text-justify">
          {{ i18n "ecosystem.content" | safeHTML }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="homepage-card">
          <div class="text-center">
            <img width="80" src="{{ .Site.BaseURL }}/svg/crowd.svg">
          </div>
          <h2 class="text-center">{{ i18n "digital_common.title" }}</h2>
          <p class="text-justify">
          {{ i18n "digital_common.content" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="tracking-demo">
  <div class="container">
    <div>
      <p class="text-center">
      En attendant d'employer des humains, nous faisons travaillers les robots :)
      <br>
      Ci-dessous, une commande aléatoire est passée toutes les 5 minutes.
      <br>
      Des bots utilisent la plateforme CoopCycle pour se répartir les commandes.
      </p>
    </div>
    <div id="map-wrapper">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://coopcycle.org/tracking?zoom=13"></iframe>
      </div>
    </div>
  </div>
</section>
<section id="contribute">
  <div class="container">
    <p class="text-center">
    N'hésitez pas à <a href="https://github.com/coopcycle/coopcycle-web/issues" target="_blank">signaler un bug ou une fonctionnalité manquante</a>.
    <br>
    Si vous êtes un développeur, envoyez-nous une pull request !
    </p>
  </div>
</section>
{{ end }}