<div class="row">
    <div class="col-md-4">
        <ul class="coops-list">
        {{ $countries := slice }}
        {{ range $.Site.Data.coops }}
            {{ $countries = $countries | append .country }}
        {{ end }}
        {{ range uniq $countries }}
            <li class="coops-country">{{ i18n . }}</li>
            {{ range sort (where $.Site.Data.coops "country" .) "city" "asc" }}
            <ul>
                {{ if .name }}
                    <li class="coop-city">
                        {{ .name }} ({{ .city }})
                        {{ if .coopcycle_url }}
                            <a class="coops-to-site" href="{{ .coopcycle_url }}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        {{ else if .url }}
                            <a class="coops-to-site" href="{{ .url }}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        {{ end }}
                    </li>
                {{ else }}
                    <li class="coop-city">{{ .city }}</li>
                {{ end }}
            </ul>
            {{ end }}
        {{ end }}
        </ul>
    </div>
    <div class="col-md-8" id="coops-map" style="height:600px;">
    </div>
</div>

<script>
    window.AppData = window.AppData || {}
    window.AppData.i18n = window.AppData.i18n || {}
    window.AppData.i18n.orderNow = '{{ i18n "network.orderNow" }}'
    window.AppData.i18n.visit = '{{ i18n "network.visit" }}'
    window.AppData.coops = {{ $.Site.Data.coops | jsonify | safeJS }};
</script>

