<div class="no-mobile row map-wrapper" style="position:relative;">
    <div class="col-md-12" id="coops-map" style="height:600px;">
    </div>
    <div style="text-align:center; width:100%;">
        <a  href="#coops-map" class="know-more">Cliquez sur les marqueurs pour en savoir plus !</a>
    </div>
</div>

<div class="modal" id="coop-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="no-desktop">
    <h4 class="h4">
        Les membres
    </h4>
    <ul class="coops-list">
        {{ $countries := slice }}
        {{ range $.Site.Data.coops }}
            {{ $countries = $countries | append .country }}
        {{ end }}
        {{ range uniq $countries }}
        <li class="card-header">{{ i18n . }}</li>
        {{ range sort (where $.Site.Data.coops "country" .) "city" "asc" }}
            <li class="card">
                <h5 class="card--title">{{ .name }}</h5>
                <p>
                    <span class="card--subtitle">
                        {{ .city }}
                    </span>
                    <span class="card--icons">
                        {{ if .url }}
                            <a href="{{ .url }}"><i class="fa fa-link"></i></a>
                        {{ end }}
                        {{ if .mail }}
                            <a href="mailto:{{ .mail }}" target="_blank"><i class="fa fa-envelope"></i></a>
                        {{ end }}
                        {{ if .facebook_url }}
                            <a href="{{ .facebook_url }}"><i class="fa fa-facebook"></i></a>
                        {{ end }}
                        {{ if .twitter_url }}
                            <a href="{{ .facebook_url }}"><i class="fa fa-twitter"></i></a>
                        {{ end }}
                    </span>
                </p>
            </li>
        {{ end }}
    {{ end }}
    </ul>
</div>

<script>
    window.AppData = window.AppData || {}
    window.AppData.i18n = window.AppData.i18n || {}
    window.AppData.lang = '{{ .Lang }}'
    window.AppData.countries = {
        'fr': '{{ i18n "fr" }}',
        'en': '{{ i18n "en" }}',
        'es': '{{ i18n "es" }}',
        'gb': '{{ i18n "gb" }}',
        'de': '{{ i18n "de" }}',
        'be': '{{ i18n "be" }}',
    }
    window.AppData.i18n.orderNow = '{{ i18n "network.orderNow" }}'
    window.AppData.i18n.visit = '{{ i18n "network.visit" }}'
    window.AppData.coops = {{ $.Site.Data.coops | jsonify | safeJS }};
</script>

