<div class="no-mobile row map-wrapper" style="position:relative;display: none;">
    <div class="col-md-12" id="coops-map">
    </div>
    <div class="know-more-wrapper">
        <a  href="#coops-map" class="know-more">{{ i18n "marker.click" }}</a>
    </div>
</div>

<div class="modal" id="coop-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h3 class="modal-title"></h3>
                    <p class="coop-panel--city"></p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="modal-sidebar">
                    <li class="modal-sidebar-item" data-prop="url">
                        <a target="_blank"><i class="fa fa-link"></i><span></span></a>
                    </li>
                    <li class="modal-sidebar-item" data-prop="mail">
                        <a target="_blank"><i class="fa fa-envelope"></i><span></span></a>
                    </li>
                    <li class="modal-sidebar-item" data-prop="facebook_url">
                        <a target="_blank"><i class="fa fa-facebook"></i><span></span></a>
                    </li>
                    <li class="modal-sidebar-item" data-prop="twitter_url">
                        <a target="_blank"><i class="fa fa-twitter"></i><span></span></a>
                    </li>
                    <li class="modal-sidebar-item" data-prop="instagram_url">
                        <a target="_blank"><i class="fa fa-instagram"></i><span></span></a>
                    </li>
                </ul>
                <div class="modal-not-sidebar"></div>
            </div>
        </div>
    </div>
</div>

<div class="no-desktop">
    <h4 class="h4">
        {{ i18n "network.ourmembers" }}
    </h4>
    {{ $countries := slice }}
    {{ range $.Site.Data.coops }}
        {{ $countries = $countries | append .country }}
    {{ end }}
    {{ range uniq $countries }}
    <div class="card mb-2">
        <div class="card-header">{{ i18n . }}</div>
        <ul class="list-group list-group-flush">
        {{ range sort (where $.Site.Data.coops "country" .) "city" "asc" }}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5>{{ .name }}</h5>
                    <span class="card--subtitle">
                        {{ .city }}
                    </span>
                </div>
                <div>
                    <span class="card--icons">
                        {{ if .url }}
                            <a href="{{ .url }}"><i class="fa fa-link"></i></a>
                        {{ end }}
                        {{ if .mail }}
                            <a href="mailto:{{ .mail }}" target="_blank"><i class="fa fa-envelope"></i></a>
                        {{ end }}
                        {{ if .facebook_url }}
                            <a href="{{ .facebook_url }}"><i class="fa fa-facebook"></i></a>
                        {{ end }}
                        {{ if .twitter_url }}
                            <a href="{{ .twitter_url }}"><i class="fa fa-twitter"></i></a>
                        {{ end }}
                        {{ if .instagram_url }}
                            <a href="{{ .instagram_url }}"><i class="fa fa-instagram"></i></a>
                        {{ end }}
                    </span>
                </div>
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}
</div>

<script>
    window.AppData = window.AppData || {}
    window.AppData.i18n = window.AppData.i18n || {}
    window.AppData.lang = '{{ .Lang }}'
    window.AppData.countries = {
        'be': '{{ i18n "be" }}',
        'de': '{{ i18n "de" }}',
        'en': '{{ i18n "en" }}',
        'es': '{{ i18n "es" }}',
        'fr': '{{ i18n "fr" }}',
        'gb': '{{ i18n "gb" }}',
        'pl': '{{ i18n "pl" }}',
        'sw': '{{ i18n "sw" }}',
    }
    window.AppData.i18n.orderNow = '{{ i18n "network.orderNow" }}'
    window.AppData.i18n.visit = '{{ i18n "network.visit" }}'
</script>

