<section id="FAQ">
    <h4 class="h4 text-center">{{ i18n "FAQ.title" }}</h4>
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            {{ i18n "FAQ.city" | safeHTML }}
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
            {{ i18n "FAQ.city_content" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            {{ i18n "FAQ.how_to" | safeHTML }}
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
            {{ i18n "FAQ.how_to_content" | safeHTML }}
          </p>
        </div>
        <p>
        </p>
        <div class="col-md-12 text-stack">
          <p>
            {{ i18n "FAQ.how_to_content2" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            {{ i18n "FAQ.new_coop" | safeHTML }}
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
            {{ i18n "FAQ.new_coop_content" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            {{ i18n "FAQ.resto" | safeHTML }}
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
            {{ i18n "FAQ.resto_content" | safeHTML }}
          </p>
        </div>
      </div>
    </div>
  
  </section>