<section id="FAQ">
    <h4 class="h4 text-center">Preguntas frecuentes</h4>
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            ¿Por qué no encuentro mi ciudad?
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
            Es porque aún no hay mensajerías dentro de CoopCycle México que ya operen en tu ciudad. Sigue a @CoopCycle en redes o <a href="#subscribe">suscríbete al newsletter</a> para mantenerte actualizado.
          </p>
        </div>
      </div>
    </div>
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            ¿Cómo hago envíos desde CoopCycle y cuál es el costo del servicio?
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
          Cada mensajería define los costos de sus servicios. Para envíos de una sola ocasión, puedes revisar el costo en el formulario de solicitud de envíos de cada mensajería.
          </p>
        </div>
        <p>
        </p>
        <div class="col-md-12 text-stack">
          <p>
            Si deseas cotizar un servicio de más entregas, te recomendamos ponerte en contacto directo con las mensajerías para negociar directamente el costo de sus servicios. Da click en cada nombre para contactarles directamente: 
            <a href="mailto:enviciparallevar@gmail.com">Envici</a> (Puebla), 
            <a href="mailto:libelubikemx@gmail.com">Libelubike</a> (Xalapa),  
            <a href="mailto:cotizaciones@tlok.mx">Tlok</a> (CDMX),  
            <a href="mailto:info@tig.mx">TIG</a> (CDMX), 
            <a href="mailto:twcbicimensajeria@gmail.com">TWC</a> (CDMX),  
            <a href="mailto:de.biciclet@gmail.com">Bicientrega</a> (CDMX) y  
            <a href="mailto:soporte@siraentregaconfiable.com.mx">SIRA-APPS</a> (CDMX). 
          </p>
        </div>
      </div>
    </div>
  
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
            Me interesa registrar una bicimensajería en mi región, ¿qué debo hacer?
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
            Si eres persona trabajadora o socia de una mensajería que hace entregas en modos sustentables, 
            <a href="mailto:contact@coopcycle.org">contáctanos aquí</a> 
            para conocer más sobre la federación de cooperativas y cómo integrarla a CoopCycle.
          </p>
        </div>
      </div>
    </div>
  
    <div class="container homepage-card-container">
      <div class="row align-items-center">
        <div class="col-md-12 text-stack">
          <p>
          <strong>
          ¿Cómo inscribo mi restaurante o negocio para tener productos a la venta desde la plataforma digital de CoopCycle?
          </strong>
          </p>
        </div>
        <div class="col-md-12 text-stack">
          <p>
          Cada mensajería cuenta con su propio espacio de venta de productos y alimentos, si quieres estar en uno o varios de ellos, puedes contactar directamente a las mensajería para empezar a vender y enviar tus productos a través de CoopCycle. Da click en cada nombre para contactarles directamente: 
          <a href="mailto:enviciparallevar@gmail.com">Envici</a> (Puebla), 
          <a href="mailto:libelubikemx@gmail.com">Libelubike</a> (Xalapa),  
          <a href="mailto:cotizaciones@tlok.mx">Tlok</a> (CDMX),  
          <a href="mailto:info@tig.mx">TIG</a> (CDMX), 
          <a href="mailto:twcbicimensajeria@gmail.com">TWC</a> (CDMX),  
          <a href="mailto:de.biciclet@gmail.com">Bicientrega</a> (CDMX) y  
          <a href="mailto:soporte@siraentregaconfiable.com.mx">SIRA-APPS</a> (CDMX).
          </p>
        </div>
      </div>
    </div>
  
  </section>