<div class="container margin-bottom-l">
    <div class="row justify-content-center banner">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3 class="h3"> ¿Para quién? </h3>
            <p>La plataforma digital de CoopCycle puede ser utilizada por personas y comercios que necesiten realizar envíos y entregas a domicilio ya sea por única ocasión o de manera constante.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <i class="join-icon icon-courier"></i>
            <h4 class="h4">Personas que quieran hacer envíos</h4>
            <p> Solicita envíos locales en CDMX, Puebla o Xalapa desde la plataforma digital desde esta página. 
                <a href="#city-dropdown">Da click aquí.</a>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <i class="join-icon icon-restaurant"></i>
            <h4 class="h4">Personas que quieran adquirir productos con entrega sustentable</h4>
            <p>Beta</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="join-icon icon-marketplace"></i>
            <h4 class="h4">Restaurantes o comercios que buscan una plataforma digital para ofrecer sus productos con entrega sustentable y tarifas justas </h4>
            <p>Beta</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="join-icon icon-delivery"></i>
            <h4 class="h4"> Comercios, empresas y oficinas que necesitan servicios de mensajería </h4>
            <p>Si necesitas hacer varios envíos a la semana,  CoopCycle cuenta con una plataforma para llevar el control de tus envíos a un precio personalizado.</p>
        </div>
    </div>

    <div class="text-right margin-bottom-md margin-top-md">
      <a href="mailto:juan.bustillos@itdp.org" class="btn"> Ponte en contacto </a>
    </div>

</div>
