<div class="container margin-bottom-l">
    <div class="row justify-content-center banner">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3 class="h3">{{ i18n "network.join.title" }}</h3>
            <p>{{ i18n "network.join.description" }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <i class="join-icon icon-courier"></i>
            <h4 class="h4">{{ i18n "network.join.courier" }}</h4>
            <p>{{ i18n "network.join.courier.description" }}</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="join-icon icon-coop"></i>
            <h4 class="h4">{{ i18n "network.join.coop" }}</h4>
            <p>{{ i18n "network.join.coop.description" }}</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="join-icon icon-restaurant"></i>
            <h4 class="h4">{{ i18n "network.join.shop" }}</h4>
            <p>{{ i18n "network.join.shop.description" }}</p>
        </div>
    </div>

    <div class="text-center margin-bottom-md margin-top-md">
      <a href="mailto:contact@coopcycle.org" class="btn">{{ i18n "contactus" }}</a>
    </div>

</div>
