<div class="container margin-bottom-l">
    <div class="row justify-content-center banner">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3 class="h3"> ¿Para quién? </h3>
            <p>La plataforma digital de CoopCycle puede ser utilizada por personas y comercios que necesiten realizar envíos y entregas a domicilio ya sea por única ocasión o de manera constante.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <i class="join-icon icon-courier"></i>
            <h4 class="h4">Personas que quieran enviar algo</h4>
            <p> Puedes solicitar un envío a traves de las mensajerías de CoopCycle. Todos los envios se hacen en medios sustentables. <a href="#city-dropdown">Da click aquí.</a>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <i class="join-icon icon-restaurant"></i>
            <h4 class="h4">Personas que busquen comprar en sus comercios favoritos</h4>
            <p>En el marketplace puedes encontrar comercios, restaurantes y pedir tus productos de manera justa y sustentable</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="join-icon icon-marketplace"></i>
            <h4 class="h4">Restaurantes o comercios que busquen un marketplace </h4>
            <p>Cada mensajería tiene un marketplace con un servicio responsable de delivery. Sin comisiones elevadas y con una app para todxs.</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="join-icon icon-delivery"></i>
            <h4 class="h4"> Comercios, empresas y oficinas que necesiten una mensajería</h4>
            <p>Si necesitas hacer varios envíos a la semana, contamos con una plataforma donde podrás llevar el control de tus envios a un precio personalizado.</p>
        </div>
    </div>

    <div class="text-right margin-bottom-md margin-top-md">
      <a href="mailto:juan.bustillos@itdp.org" class="btn"> Ponte en contacto </a>
    </div>

</div>
